body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-left: 45%;
    margin-right: 55%;
    text-align: center;
}

.opt {
    text-align: center;
}

#game {
    padding: 1%;
    margin: 10%;
    padding: 20px;
    margin: 20px auto;
    border: 1px solid black;
    width: 80%;
    max-width: 800px;

    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
}